body 													/*背景*/
{
	font-size:12px;
	text-align:left;
	background-image:url(../images/main/login_back.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
	z-index:1;
}
.backpng												/*背景图片*/
{
	text-align:center;
	border:0px;
	padding-top:0px;
	left:0;
	right:0;
}
.infotablehead 											/*公告板标题*/
{
	font-family:"宋体";
	font-size:18px;
	font-weight:bold;
	position:absolute;
	left:252px;
	top:239px;
}
.infotable												/*公告版正文*/
{
	font-family:"宋体"
	position:absolute;
	left:156px;
	top:268px;
	width:274px;
	height:127px;
}
.foot													/*底部栏*/
{
	background-color:#CCCCFF;
	z-index:2;
	background-attachment:fixed;
	font-size:12px;
}
.inputbg
{ 	
	border:0px; 
	z-index:0; 
	outline:none;
	background-repeat:no-repeat;
}
footer
{
	position:fixed;
	background-attachment:fixed;
	background-color:#FFFFFF;
	width:100%;
	height:20px;
	text-align:center;
	bottom:0;
}
