.inputword
{
	background-color:#FFFFCC;
}
.inputform
{
	background-attachment:fixed;
	font-family:"ו";
}
fieldset 
{
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #c0c0c0;
    background: #fff;
}
fieldset legend 
{
    color: #1E7ACE;
    font-weight: bold;
    padding: 1px 15px 1px 15px;
    background: #fff;
}
