.inputbox
{
	height:15px;
}
fieldset 
{
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #c0c0c0;
    background: #fff;
}
fieldset legend 
{
    color: #1E7ACE;
    font-weight: bold;
    padding: 1px 15px 1px 15px;
    background: #fff;
}
.tdleft
{
	font-weight:bold;
	text-align:right;
	width:15%;
}
.oddrow
{
	height:30px;
	background-color:#f7f7f7;
}
.evenrow
{
	height:30px;
	background-color:#FFFFFF;
}
.table
{
	margin-top: 5px;
    border: 1px solid #e1e1e1;
}
.table td
{
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}
.table tr
{
	height:30px;
}